body{
    width: 1024px;
    margin: 0 auto;
    background-color: #E0F4E9;
}

header,
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header{
    grid-template-areas: "photo name contacts";
    color: #30362F;
}

header img{
    grid-area: photo;
    width: 100%;
}

header .name{
    text-align: center;
    grid-area: name;
}

header .contact-list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    grid-area: contacts;
}

a{
    text-decoration: none;
    margin: 10px;
    color: #303676;
    position: relative;
}

a::before,
a::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    background-color: black;
    bottom: 0;
    transition: all 0.7s cubic-bezier(0.25, 0.1, 0.5, 2);
}

a::before{
    left: 50%;
}

a::after{
    right: 50%;
}

a:hover::before,
a:hover::after{
    width: 50%;
}

main{
    grid-template-areas:    "summary summary work"
                            "summary summary work"
                            "skills skills work"
                            "skills skills examples"
                            "education education languages";
}

main article{
    padding: 15px;
}

main article * {
    margin: 0;  
}

main article h2{
    text-transform: uppercase;
    color: #30362F;
    text-decoration: underline;
    padding-left: 10px;
    margin: 10px 0;
}

main article p,
main article ul {
    margin: 5px 0;
}

main .summary{
    grid-area: summary;
    background-color: #B8D4BD;
}

main .skills{
    grid-area: skills;
}

main .examples{
    grid-area: examples;
    background-color: #DEFEFF;
}

main .work{
    grid-area: work;
    background-color: #C1DED6;
}

main .education{
    grid-area: education;
    background-color: #C1DED6;
}

main .languages{
    grid-area: languages;
    background-color: #B8D4BD;
}

footer{
    margin: 25px 0;
    text-align: right;
}